
.card-header a {
    display: block;
    position: relative;
  }
  .card-header a:after {
    content: "\f06e"; 
    font-family: 'FontAwesome';
    position: absolute;
    right: 0;
  }
  .card-header  a[aria-expanded="true"]:after {
    content: "\f410"; 
  }

  .items {
     text-align: center;
  }
  .custom-input {
    height: 30px; /* Adjust the height as desired */
  }

  .number-input {
    width: fit-content;
    height: 30px;
  }
  .select-input {
    width: fit-content;
    height: 30px;
  }