table {
  border-collapse: collapse;
  width: 100%; /* Assicurati che la tabella occupi tutto lo spazio disponibile */
  break-inside: avoid; /* Evita il "frammento di tabella" tra le colonne */
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.table-container {
text-align: center;
}

